@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body, html {
    background: linear-gradient(100deg, #ff9a9e 0%, #fad0c4 100%);
    font-family: 'Montserrat', sans-serif;
    color: #d62828
}

h3 {
    color: black
}

.mainContainer {
    animation: grow 1s ease forwards;
    text-align: center
}

#left {
    margin: 0;
    width: 75px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer
}

.guides {
    position: absolute;
    left: 0;
    text-align: left;
    margin-right: 15px;
    width: 20%
}

#border {
    background-color: black;
    width: 5px;
    position: absolute;
    left: 20%;
    margin: 0
}

li::marker {
    color: black
}

a:hover {
    color: red
}

/*Анимации*/
@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

/*Адаптация под телефоны*/
@media (max-width: 1000px) {
    #left {
        width: 40px;
        height: 32px
    }
}