@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body, html {
    background: linear-gradient(100deg, #ff9a9e 0%, #fad0c4 100%);
    font-family: 'Montserrat', sans-serif
}

h1 {
    color: #d62828
}

h3 {
    color: black;
    text-align: center
}

header {
    animation: grow 1s ease forwards;
    text-align: center
}

main {
    animation: grow 1s ease forwards;
    display: flex;
    justify-content: space-around
}

footer {
    animation: grow 1s ease forwards
}

#left {
    margin: 0;
    width: 55px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer
}

.guides {
    margin-right: 15px;
    width: 25%;
    border: solid;
}

.projects {
    border: solid;
    width: 25%
}

li::marker {
    color: black
}

a:hover {
    color: red
}

/*Анимации*/
@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

/*Адаптация под телефоны*/
@media (max-width: 1000px) {
    #left {
        width: 40px;
        height: 32px
    }

    .guides, .projects {
        width: 50%
    }

    ul {
        padding-left: 15%
    }
}
