body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma;
}

h1 {
    text-align: center;
    font-size: 30px;
}

button {
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer
}

button:hover {
    color: rgb(80, 80, 92)
}

.lessons {
    display: flex;
    flex-direction: column
}

p {
    font-size: 24px;
}

a {
    font-size: 24px;
}

a:hover {
    color: red;
}

/*Адаптация под телефоны*/
@media (max-width: 999px) {
    h1 {
        font-size: 25px;
    }

    p {
        font-size: 23px;
    }

    a {
        font-size: 23px;
    }
}