body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

h1 {
    text-align: center;
    font-size: 30px
}

button {
    font-size: 26px
}

p {
    font-size: 24px
}

a {
    font-size: 24px
}

a:hover {
    color: red
}

/*Адаптация под телефоны*/
@media (max-width: 999px) {
    button {
        font-size: 23px
    }


    h1 {
        font-size: 25px
    }

    p {
        font-size: 23px
    }

    a {
        font-size: 23px
    }
}