body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

button {
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    top: 0
}

h1 {
    text-align: center;

}

h2 {
    text-align: center
}

@media (min-width: 1000px) {
    button {
        font-size: 26px
    }

    h1 {
        font-size: 30px
    }

    h2 {
        font-size: 27px
    }

    p {
        font-size: 22px
    }

    pre {
        font-size: 25px
    }
}

@media (max-width: 999px) {
    button {
        font-size: 23px
    }

    h1 {
        font-size: 25px
    }

    h2 {
        font-size: 23px
    }

    p {
        font-size: 18px
    }

    pre {
        font-size: 21px
    }
}