body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma;
}

button {
    font-size: 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
}

button:hover {
    color: rgb(80, 80, 92);
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 27px;
}

p {
    font-size: 22px;
}

pre {
    font-size: 25px;
}

@media (max-width: 999px) {
    button {
        position: relative;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 23px;
    }

    p {
        font-size: 18px;
    }

    pre {
        font-size: 21px;
    }
}